@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: #00203f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 16px 32px;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 3px solid black;
}

.con{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.con .logo{
  margin-left: 150px;
}

.menu{
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
  padding-left: 100px;
}

.menu .a{
  color: #fff;
  margin: 0 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
}

.menu .a:hover{
  background-color: #000;
}

@media(max-width:768px){
  .menu{
    margin-left: 400px;
    display: block;
  }

  .con .logo{
    margin: 10px;
    
  }

}

.head{
  background-color: #191919;
  margin: 0;
  padding: 0;
}

.head .container-fluid .row .firstCol{
  background-color: #191919;
  height: 81vh;
  width: 100px;
}

.head .container-fluid .row .secondCol{
  background-color: #00203f;
  height: 80vh;
  max-width: 580px;
}

.head .container-fluid .row img{
  height: 80vh;
  max-width: 580px;
}

.head .container-fluid .row .thirdCol{
  background-color: #191919;
  height: 81vh;
}

.thirdCol .text{
  height: 81vh;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  padding-top: 210px;
}

.thirdCol .text .firstText{
  font-size: 130px;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
}

.thirdCol .text .secondText{
  font-size: 33px;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  line-height: 120%;
}

.thirdCol .text .thirdText{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
}

.thirdCol .text .fourthText{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  display: flex;
  align-items: center;
}

@media(max-width:768px){
  .head .container-fluid{
    background-color: #191919;
    width: 896px;
  }

  .head .container-fluid .row .secondCol img{
    height: 80vh;
    width: 100%;
  }

  .head .container-fluid .row .firstCol{
    display: none;
  }

  .head .container-fluid .row .secondCol{
    background-color: #00203f;
    height: 70vh;
    margin: auto;
  }

  .head .container-fluid .row .thirdCol{
    background-color: #191919;
    width: 100%;
    height: 60vh;
  }

  .thirdCol .text{
    width: 100%;
    height: 60vh;
    margin: auto;
    padding-top: 120px;
    padding-left: 170px;
  }

  .thirdCol .text .firstText{
    font-size: 90px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
  }

  .thirdCol .text .secondText{
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    line-height: 120%;
  }

  .thirdCol .text .thirdText{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
  }

  .thirdCol .text .fourthText{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    display: flex;
    align-items: center;
  }
}

.body{
  background-color: #00203f;
  height: 90vh;
}

.body .title{
  margin-top: 150px;
  height: 41vh;
  background-color: #191919;
}

.body .title h1{
  font-size: 110px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  color: white;
}

.body .about{
  padding: 0;
  margin-top: 200px;
}

.body .about h1{
  color: #adefdf;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
}

.body .about .para{
  inline-size: 600px;
  overflow-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 17px;
}

@media(max-width: 768px){
  .body{
    background-color: #00203f;
    width: 896px;
    height: 80vh;
  }

  .body .title{
    margin-top: 250px;
    margin-left: 130px;
    height: 25vh;
    background-color: #191919;
  }

  .body .title h1{
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    color: white;
  }

  .body .about{
    padding: 0;
    margin-top: 220px;
    margin-left: 60px;
  }

  .body .about h1{
    color: #adefdf;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .body .about .para{
    inline-size: 100%;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 17px;
  }
}

.spon{
  background-color: #00203f;
  height: 50vh;
}

.spon h1{
  color: #a4f5e0;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.spon h2{
  color: #a4f5e0;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

.spon p{
  text-align: center;
  text-decoration: underline;
  margin-top: 70px;
}

.spon p a{
  color: white;
}

.spon .sponLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  
}

@media(max-width: 768px){
  .spon{
    width: 896px;
    height: 60vh;
  }

  .spon h1{
    font-size: 35px;
    margin-bottom: 30px;
  }

  .spon h2{
    font-size: 30px;
    margin-bottom: 40px;
  }

  .spon p{
    margin-top: 60px;
  }

  .spon .sponLogo{
    inline-size: 800px;
    display: block;
    text-align: center;
    margin: auto;
  }
}

.footer{
  font-family: 'Montserrat', sans-serif;
  background-color: #191919;
  margin: auto;
}

.faqText{
  padding-top: 10px;
}

.faq-section{
  background-color: #f0f5fa;
  /* height: 100%; */
}

.faq-content{
  margin: 0;
  padding-top: 10rem;
  padding-bottom: 120px;
}

.social-icon {
  background:#63be9d;
  color:#00203f;
  padding : 6px;
  border-radius: 50%;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 768px){
  .footer{
    width: 896px;
  }

  .footer .cus{
    width: 50%;
  }

  .footer .pr{
    width: 50%;
  }

  .footer .last{
    display: flex;
    justify-content: space-between;
  }
  
  .footer .follow{
    width: 50%;
    margin-top: 20px;
  }

  .footer .faq{
    width: 50%;
    margin-top: 20px;
  }

  .footer .cr{
    margin-top: 30px;
  }

  .faq-section{
    width: 896px;
  }

  .faq-section .faq-content .item{
    width: 400px;
  }
}

